<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div id="main">

        <form action="/api/players/add" method="post">
                <label for="name">Name</label>
                <input type="text" id="name" name="name">
                <!-- <label for="name">Qty</label>
                <input type="text" id="qty" name="qty">
                <label for="name">Status</label>
                <input type="text" id="status" name="status"> -->
                <!-- <label for="name">Size</label>
                <input type="text" id="size" name="size" size="30"> -->
                <input type="submit" class="form-submit" value="Add">
        </form>
    </div>
  </body>
</html>